In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("train.csv")

In [42]:
df_train[["PassengerId", "Transported"]].head(5)

  PassengerId  Transported
0     0001_01        False
1     0002_01         True
2     0003_01        False
3     0003_02        False
4     0004_01         True

In [ ]:
df_train[["PassengerId"]]

In [59]:
df_train["travelingInGroup"] = df_train['PassengerId'].str[0:4].duplicated(keep=False).astype('int')

In [21]:
df_train['Cabin_lbl'] = pd.Categorical(df_train['Cabin'].str[0]).codes

In [31]:
df_train["TotalSpendings"] = df_train[['RoomService' , 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck' ]].sum(axis=1)

In [99]:
def X_test(df_train):
    df_train["travelingInGroup"] = df_train['PassengerId'].str[0:4].duplicated(keep=False).astype('int')
    df_train["TotalSpendings"] = df_train[['RoomService' , 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck' ]].sum(axis=1)
    df_train['Cabin_lbl'] = pd.Categorical(df_train['Cabin'].str[0]).codes
    features = ["HomePlanet", "CryoSleep", "Destination"] #"RoomService_bins","FoodCourt_bins","ShoppingMall_bins","VRDeck_bins", "Spa_bins", "VIP"
    X = pd.get_dummies(df_train[features]).join(df_train[['RoomService', 'FoodCourt','ShoppingMall','Spa','VRDeck', "TotalSpendings","travelingInGroup",'Cabin_lbl']])#'Cabin_lbl'
    return X

In [ ]:
df_train['PassengerId'].fillna(value=)

In [259]:
#Id with missing HomePlanet value but traveling together
list_missing_home = df_train[df_train['HomePlanet'].isna() == True].query('travelingInGroup == 1')['PassengerId'].str[0:4]
# get all values as list for each id

In [278]:
list_missing_home_index = df_train[df_train['HomePlanet'].isna() == True].query('travelingInGroup == 1').index

In [275]:
df_train[df_train['HomePlanet'].isna() == True].index

Int64Index([  59,  113,  186,  225,  234,  274,  286,  291,  347,  365,
            ...
            8353, 8383, 8454, 8468, 8489, 8515, 8613, 8666, 8674, 8684],
           dtype='int64', length=201)

In [196]:
df_train['Psg_group'] = df_train['PassengerId'].str[0:4]

In [199]:
df_train[['PassengerId','HomePlanet','Psg_group']][df_train['PassengerId'].str.contains('|'.join(list_missing_home))]

     PassengerId HomePlanet Psg_group
58       0064_01       Mars      0064
59       0064_02        NaN      0064
113      0119_01        NaN      0119
114      0119_02     Europa      0119
404      0444_01       Mars      0444
...          ...        ...       ...
8489     9072_01        NaN      9072
8490     9072_02       Mars      9072
8491     9072_03       Mars      9072
8613     9194_01        NaN      9194
8614     9194_02     Europa      9194

[288 rows x 3 columns]

In [277]:
df_train.query("Psg_group == '0210'")['HomePlanet'].sort_values().tolist()

[nan]

In [237]:
counter = 0
df_train['Psg_group'].iloc[counter]
if type(planet) == float:
        df_train['HomePlanet'].iloc[counter] #= df_train.query(f"Psg_group == {counter}")['HomePlanet'].sort_values().tolist()[0]
        id = df_train['Psg_group'].iloc[counter]
        #print(df_train['HomePlanet'].iloc[counter])
        print(id)
        print(df_train.query(f"Psg_group == '{id}'")['HomePlanet'].sort_values().tolist()[0])

'Europa'

In [284]:

for id in list_missing_home_index:
    room = df_train['Psg_group'].iloc[id]
    df_train['HomePlanet'].iloc[id].fillna(df_train.query(f"Psg_group == '{room}'")['HomePlanet'].sort_values().tolist()[0], inplace = True)

AttributeError: 'str' object has no attribute 'fillna'

In [ ]:
df_train[df_train['HomePlanet'].isna() == True].query('travelingInGroup == 1')['PassengerId']

In [94]:
features = ["HomePlanet", "CryoSleep", "Destination"] #"RoomService_bins","FoodCourt_bins","ShoppingMall_bins","VRDeck_bins", "Spa_bins", "VIP"
X = pd.get_dummies(df_train[features]).join(df_train[['RoomService', 'FoodCourt','ShoppingMall','Spa','VRDeck', "TotalSpendings","travelingInGroup",'Cabin_lbl']])#'Cabin_lbl'
Y = df_train['Transported']

In [288]:
X.head()

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,TotalSpendings,travelingInGroup,Cabin_lbl
0,0,1,0,1,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0,1
1,1,0,0,1,0,0,0,1,109.0,9.0,25.0,549.0,44.0,736.0,0,5
2,0,1,0,1,0,0,0,1,43.0,3576.0,0.0,6715.0,49.0,10383.0,1,0
3,0,1,0,1,0,0,0,1,0.0,1283.0,371.0,3329.0,193.0,5176.0,1,0
4,1,0,0,1,0,0,0,1,303.0,70.0,151.0,565.0,2.0,1091.0,0,5

In [245]:
np.save('x_train.npy', X.to_numpy(), allow_pickle=True)
np.save('y_train.npy', Y.to_numpy(), allow_pickle=True)

In [5]:
import sklearn
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

In [170]:
x_train, x_cv, y_train, y_cv = train_test_split(X,Y,test_size=0.20, random_state=1)

dtrain = xgb.DMatrix(x_train,y_train)
dtest = xgb.DMatrix(x_cv)

param = {'booster': 'gbtree', 'eval_metric': 'auc', 'learning_rate': 0.4, 'max_depth':5, 'objective': 'binary:logistic'}#{"eval_metric":"auc", "objective": "binary:logistic"}
num_rounds = 10
model = xgb.train(param, dtrain, num_rounds)

preds = model.predict(dtest)

from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_cv, preds.round())
print(accuracy)

0.8016101207590569

In [75]:
#making predictions

In [100]:
df_test = pd.read_csv("test.csv")

In [101]:
X_pred = X_test(df_test)

In [103]:
dpred = xgb.DMatrix(X_pred)

In [161]:
tst_preds = model.predict(dpred)

In [81]:
#creating CSV

In [162]:
df_subm = pd.DataFrame({"PassengerId":df_test["PassengerId"].tolist(),"Transported": tst_preds.round().tolist()})
df_subm["Transported"] = df_subm["Transported"].astype('bool')
df_subm.to_csv("submission_XGboost_v2.csv",index=False)

In [163]:
df_subm.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [166]:
df_subm_v0 = pd.read_csv('submission_XGboost_v1.csv')

In [167]:
diff_rows = (df_subm.ne(df_subm_v0)).any(axis=1)

In [168]:
diff_rows.value_counts()

False    4077
True      200
dtype: int64

In [113]:
103/4174

0.02467656923814087

In [286]:
# trying out the catboost
from catboost import CatBoostClassifier

In [320]:
cat_model = CatBoostClassifier(iterations=1000, depth=6, learning_rate=0.1, loss_function='Logloss', 
                           eval_metric='AUC', use_best_model=True, random_seed=42) #

In [321]:
# fit the model on the training data
x_train, x_cv, y_train, y_cv = train_test_split(X,Y,test_size=0.10, random_state=1)
cat_model.fit(x_train, y_train, eval_set=(x_cv, y_cv), early_stopping_rounds=20) #cat_features=[0,1,2],

0:	test: 0.8465868	best: 0.8465868 (0)	total: 2.89ms	remaining: 2.88s
1:	test: 0.8665027	best: 0.8665027 (1)	total: 5.87ms	remaining: 2.93s
2:	test: 0.8700673	best: 0.8700673 (2)	total: 8.34ms	remaining: 2.77s
3:	test: 0.8754367	best: 0.8754367 (3)	total: 11.6ms	remaining: 2.88s
4:	test: 0.8749108	best: 0.8754367 (3)	total: 14.2ms	remaining: 2.82s
5:	test: 0.8761210	best: 0.8761210 (5)	total: 16.6ms	remaining: 2.75s
6:	test: 0.8781610	best: 0.8781610 (6)	total: 18.7ms	remaining: 2.65s
7:	test: 0.8766020	best: 0.8781610 (6)	total: 20.9ms	remaining: 2.59s
8:	test: 0.8781187	best: 0.8781610 (6)	total: 23.5ms	remaining: 2.59s
9:	test: 0.8790620	best: 0.8790620 (9)	total: 25.7ms	remaining: 2.54s
10:	test: 0.8799367	best: 0.8799367 (10)	total: 28.1ms	remaining: 2.52s
11:	test: 0.8834828	best: 0.8834828 (11)	total: 30.4ms	remaining: 2.5s
12:	test: 0.8846508	best: 0.8846508 (12)	total: 33.4ms	remaining: 2.53s
13:	test: 0.8865956	best: 0.8865956 (13)	total: 35.5ms	remaining: 2.5s
14:	test: 0.8867964	best: 0.8867964 (14)	total: 37.6ms	remaining: 2.47s
15:	test: 0.8874438	best: 0.8874438 (15)	total: 39.7ms	remaining: 2.44s
16:	test: 0.8877503	best: 0.8877503 (16)	total: 41.7ms	remaining: 2.41s
17:	test: 0.8885615	best: 0.8885615 (17)	total: 43.8ms	remaining: 2.39s
18:	test: 0.8898352	best: 0.8898352 (18)	total: 45.8ms	remaining: 2.36s
19:	test: 0.8905407	best: 0.8905407 (19)	total: 47.8ms	remaining: 2.34s
20:	test: 0.8919570	best: 0.8919570 (20)	total: 50ms	remaining: 2.33s
21:	test: 0.8920997	best: 0.8920997 (21)	total: 52ms	remaining: 2.31s
22:	test: 0.8925701	best: 0.8925701 (22)	total: 56.5ms	remaining: 2.4s
23:	test: 0.8918936	best: 0.8925701 (22)	total: 60.5ms	remaining: 2.46s
24:	test: 0.8922900	best: 0.8925701 (22)	total: 63.6ms	remaining: 2.48s
25:	test: 0.8930087	best: 0.8930087 (25)	total: 66.1ms	remaining: 2.47s
26:	test: 0.8935372	best: 0.8935372 (26)	total: 69ms	remaining: 2.49s
27:	test: 0.8935848	best: 0.8935848 (27)	total: 72.7ms	remaining: 2.52s
28:	test: 0.8935742	best: 0.8935848 (27)	total: 75.5ms	remaining: 2.53s
29:	test: 0.8931778	best: 0.8935848 (27)	total: 79.3ms	remaining: 2.56s
30:	test: 0.8929294	best: 0.8935848 (27)	total: 82.3ms	remaining: 2.57s
31:	test: 0.8940762	best: 0.8940762 (31)	total: 88.7ms	remaining: 2.68s
32:	test: 0.8944039	best: 0.8944039 (32)	total: 96.9ms	remaining: 2.84s
33:	test: 0.8942374	best: 0.8944039 (32)	total: 109ms	remaining: 3.09s
34:	test: 0.8945862	best: 0.8945862 (34)	total: 119ms	remaining: 3.27s
35:	test: 0.8944277	best: 0.8945862 (34)	total: 121ms	remaining: 3.24s
36:	test: 0.8946444	best: 0.8946444 (36)	total: 124ms	remaining: 3.23s
37:	test: 0.8949984	best: 0.8949984 (37)	total: 136ms	remaining: 3.45s
38:	test: 0.8955586	best: 0.8955586 (38)	total: 146ms	remaining: 3.61s
39:	test: 0.8961637	best: 0.8961637 (39)	total: 149ms	remaining: 3.58s
40:	test: 0.8962642	best: 0.8962642 (40)	total: 152ms	remaining: 3.54s
41:	test: 0.8963117	best: 0.8963117 (41)	total: 154ms	remaining: 3.52s
42:	test: 0.8961056	best: 0.8963117 (41)	total: 157ms	remaining: 3.49s
43:	test: 0.8964174	best: 0.8964174 (43)	total: 159ms	remaining: 3.46s
44:	test: 0.8964861	best: 0.8964861 (44)	total: 163ms	remaining: 3.45s
45:	test: 0.8965760	best: 0.8965760 (45)	total: 165ms	remaining: 3.43s
46:	test: 0.8962324	best: 0.8965760 (45)	total: 168ms	remaining: 3.4s
47:	test: 0.8967266	best: 0.8967266 (47)	total: 170ms	remaining: 3.37s
48:	test: 0.8963778	best: 0.8967266 (47)	total: 172ms	remaining: 3.34s
49:	test: 0.8964412	best: 0.8967266 (47)	total: 174ms	remaining: 3.3s
50:	test: 0.8968957	best: 0.8968957 (50)	total: 176ms	remaining: 3.27s
51:	test: 0.8969644	best: 0.8969644 (51)	total: 178ms	remaining: 3.25s
52:	test: 0.8973872	best: 0.8973872 (52)	total: 181ms	remaining: 3.23s
53:	test: 0.8971335	best: 0.8973872 (52)	total: 183ms	remaining: 3.2s
54:	test: 0.8971546	best: 0.8973872 (52)	total: 185ms	remaining: 3.17s
55:	test: 0.8965997	best: 0.8973872 (52)	total: 187ms	remaining: 3.15s
56:	test: 0.8967953	best: 0.8973872 (52)	total: 189ms	remaining: 3.13s
57:	test: 0.8969221	best: 0.8973872 (52)	total: 193ms	remaining: 3.13s
58:	test: 0.8965258	best: 0.8973872 (52)	total: 196ms	remaining: 3.13s
59:	test: 0.8965284	best: 0.8973872 (52)	total: 199ms	remaining: 3.12s
60:	test: 0.8962324	best: 0.8973872 (52)	total: 202ms	remaining: 3.11s
61:	test: 0.8965918	best: 0.8973872 (52)	total: 205ms	remaining: 3.11s
62:	test: 0.8966235	best: 0.8973872 (52)	total: 209ms	remaining: 3.1s
63:	test: 0.8971414	best: 0.8973872 (52)	total: 212ms	remaining: 3.1s
64:	test: 0.8968243	best: 0.8973872 (52)	total: 215ms	remaining: 3.1s
65:	test: 0.8965865	best: 0.8973872 (52)	total: 218ms	remaining: 3.09s
66:	test: 0.8965125	best: 0.8973872 (52)	total: 221ms	remaining: 3.07s
67:	test: 0.8961796	best: 0.8973872 (52)	total: 223ms	remaining: 3.05s
68:	test: 0.8960105	best: 0.8973872 (52)	total: 225ms	remaining: 3.04s
69:	test: 0.8961955	best: 0.8973872 (52)	total: 228ms	remaining: 3.03s
70:	test: 0.8958308	best: 0.8973872 (52)	total: 230ms	remaining: 3.01s
71:	test: 0.8961373	best: 0.8973872 (52)	total: 233ms	remaining: 3s
72:	test: 0.8968296	best: 0.8973872 (52)	total: 235ms	remaining: 2.98s
Stopped by overfitting detector  (20 iterations wait)

bestTest = 0.8973871822
bestIteration = 52

Shrink model to first 53 iterations.

In [322]:
cat_pred = cat_model.predict(X_pred)

In [309]:
cat_pred.shape

(4277,)

In [323]:
df_subm = pd.DataFrame({"PassengerId":df_test["PassengerId"].tolist(),"Transported":cat_pred.ravel().tolist()})
#df_subm["Transported"] = df_subm["Transported"].astype('bool')
df_subm.to_csv("submission_catboost_V4.csv",index=False)

In [324]:
df_subm.head(100)

   PassengerId Transported
0      0013_01        True
1      0018_01       False
2      0019_01        True
3      0021_01        True
4      0023_01        True
..         ...         ...
95     0214_02       False
96     0215_01        True
97     0218_01       False
98     0226_01        True
99     0227_01       False

[100 rows x 2 columns]